<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container">
            <form th:object="${parkingpass}" action="/parking/addSubmit" th:action="@{/parking/addSubmit}" method="post" class="form-horizontal">
                <fieldset>
                    <p th:text="${message}">message here</p>
                    <table class="table table-striped">
                        <tr>
                            <td><input type= "hidden" th:field="${parkingpass.id}"</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td><input type="text" th:field="${parkingpass.firstName}"/>
                                <ul th:if="${#fields.hasErrors('firstName')}">
                                    <li class="error" th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Name invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td><input type="text" th:field="${parkingpass.lastName}"/>
                                <ul th:if="${#fields.hasErrors('lastName')}">
                                    <li class="error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Name invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>License Plate</th>
                            <td><input type="text" th:field="${parkingpass.licensePlate}"/>
                                <ul th:if="${#fields.hasErrors('licensePlate')}">
                                    <li class="error" th:each="err : ${#fields.errors('licensePlate')}" th:text="${err}">Name invalid</li>
                                </ul><br/>
                            </td>
                        </tr>

                        <tr>
                            <th>Program</th>
                             <td><input type="text" th:field="${parkingpass.program}"/>
                                <ul th:if="${#fields.hasErrors('program')}">
                                    <li class="error" th:each="err : ${#fields.errors('program')}" th:text="${err}">Name invalid</li>
                                </ul><br/>
                            </td>
                        </tr>

                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="button" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>