<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        
        
        
        <div class="container">
            <h2 class="title is-2 has-text-centered">Parking Pass List&nbsp;</h2>
            <p><span th:text="${findNameMessage}"></span></p>
            <p><span th:text="${message}"></span></p>

            <div class="table-container">

                <a th:href="@{/parking/add}" th:text="Add" class="button"></a>

                
                <table class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">id</th>
                            <th style="width: 150px;">First</th>
                            <th style="width: 150px;">Last</th>
                            <th style="width: 150px;">License Plate</th>
                            <th style="width: 150px;">Program</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="parking : ${parkingpass}">
                            <td th:text="${parking.id}"></td>
                            <td th:text="${parking.firstName}"></td>
                            <td th:text="${parking.lastName}"></td>
                            <td th:text="${parking.licensePlate} ?: 'UNKNOWN'"></td>
                            <td th:text="${parking.program}"></td>
                            <td><a th:href="@{/parking/edit(id=${parking.id})}">Edit</a>&nbsp;<a
                                    th:href="@{/parking/delete(id=${parking.id})}">Delete</a></td>

                        </tr>
                    </tbody>
                </table>
               
                
            </div>






        </div>




        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>